<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">


<main>

     <!-- SERVICES -->

     <section id="services">
          <div class="container">
               <div class="row d-flex justify-content-around">
                    <div class="col d-flex">
                         <div class="col-md-2 service__img"></div>

                         <div class="col-md-10">
                              <div class="service__detail">
     
                                   <h2 class="service__title">Fast and Secure Payment</h2>
     
                                   <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat possimus distinctio vero qui harum facilis? Odio voluptatem esse maxime reprehenderit. Nobis maxime quas labore tenetur repudiandae recusandae magnam quis dignissimos.</p>
                              </div>
                         </div>

                    </div>

                    <div class="col d-flex">
                         <div class="col-md-2 service__img"></div>

                         <div class="col-md-10">
                              <div class="service__detail">
     
                                   <h2 class="service__title">Special Prices</h2>
     
                                   <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat possimus distinctio vero qui harum facilis? Odio voluptatem esse maxime reprehenderit. Nobis maxime quas labore tenetur repudiandae recusandae magnam quis dignissimos.</p>
                              </div>
                         </div>

                    </div>

                    <div class="col d-flex">
                         <div class="col-md-2 service__img"></div>

                         <div class="col-md-10">
                              <div class="service__detail">
     
                                   <h2 class="service__title">Modern Cars</h2>
     
                                   <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat possimus distinctio vero qui harum facilis? Odio voluptatem esse maxime reprehenderit. Nobis maxime quas labore tenetur repudiandae recusandae magnam quis dignissimos.</p>
                              </div>
                         </div>

                    </div>
               </div>
          </div>
     </section>
     
     <!-- ABOUT US -->

     <section id="about">
            <div class="container">
                 <div class="row">
                      <div class="col-md-12 col-sm-12">
                           <div class="text-center about__row">
                                <h2>About us(to be designed)</h2>

                                <br>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore molestias ipsa veritatis nihil iusto maiores natus dolor, a reiciendis corporis obcaecati ex. Totam assumenda impedit aut eum, illum distinctio saepe explicabo. Consequuntur molestiae similique id quos, quasi quas perferendis laboriosam, fugit natus odit totam! Id dolores saepe, sint debitis rerum dolorem tempora aliquid, pariatur enim nisi. Quia ab iusto assumenda.</p>
                           </div>
                      </div>
                 </div>
            </div>
       </section>

     <!-- CONTACT -->

     <section id="contact">
          <div class="container">
               <div class="row">
                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Get In Touch With Us</h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required>
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required>

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>
                    </div>
                    <div class="col-md-6 col-sm-12 d-flex justify-content-center">
                         <span class="contact__image mt-4"></span>
                    </div>
               </div>
          </div>
     </section>     
     </main>  
</body>