<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">LOGO</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
  </nav>
  
  

  <section class="hero">

    <div class="container">
      <div class="row flex-column-reverse flex-md-row">

        <div class="col-md-4">
          <%- include('../partials/form'); %>
        </div>

        <div class="col-md-8">
          <div class="hero__content pl-5 ml-5">
            <h1>UNSTOPPABLE</h1>
            <h2>Car Rentals</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia magni atque nostrum cumque <br> Officia magni atque nostrum cumque</p>
            
            <a href="/rentnow" class="btn">
              <span>Rent Now</span>
           </a>
          </div>
        </div>
  
      </div>
    </div>
  </section>
